<mat-card class="mb-3">
  <mat-card-content>
    <form class="row">
      <mat-form-field class="col-9">
        <mat-label>Search Friend...</mat-label>
        <input
          matInput
          placeholder="Enter friends name"
          type="search"
          [(ngModel)]="keyword"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <div class="col-3">
        <button mat-fab type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="requestList[0]?.id; else noRequests">
  <ng-container *ngFor="let f of requestList | filter: keyword">
    <mat-card class="mb-3">
      <mat-card-header>
        <img mat-card-avatar src="../../assets/avatar.png" alt="" />
        <mat-card-title>
          {{ f.username }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ f.email }}
        </mat-card-subtitle>
        <button
          class="ml-auto"
          color="primary"
          (click)="acceptRequest(f.id)"
          mat-raised-button
        >
          Accept
        </button>
        <button
          class="ml-2"
          color="warn"
          (click)="deleteRequest(f.id)"
          mat-raised-button
        >
          Reject
        </button>
      </mat-card-header>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #noRequests>
  <mat-card class="mb-3">
    <mat-card-content> No Pending Requests </mat-card-content>
  </mat-card>
</ng-template>
