<!-- <app-create-shout></app-create-shout> -->
<div class="feed">
  <ng-container *ngFor="let shout of data">
    <app-shout postId="{{ shout.id }}">
      <span class="content">{{ shout.content }}</span>
      <span class="media">
        <ng-container [ngSwitch]="shout.type">
          <ng-container *ngSwitchCase="'audio'">
            <audio src="{{ shout.media }}" controls></audio>
          </ng-container>
          <ng-container *ngSwitchCase="'video'">
            <video class="video" src="{{ shout.media }}" controls></video>
          </ng-container>
          <ng-container *ngSwitchCase="'image'">
            <img class="image" src="{{ shout.media }}" />
          </ng-container>
        </ng-container>
      </span>
    </app-shout>
  </ng-container>
</div>
