<!-- <app-create-shout></app-create-shout> -->
<div class="feed" *ngIf="shoutData === []; else noShout">
  <ng-container *ngFor="let shout of shoutData">
    <app-shout [shout]="shout">
      <span class="content" *ngIf="shout.shoutText">{{ shout.shoutText }}</span>
      <span class="media">
        <ng-container [ngSwitch]="shout.shoutType">
          <ng-container *ngSwitchCase="'audio'">
            <audio src="{{ shout.shoutMedia }}" controls></audio>
          </ng-container>
          <ng-container *ngSwitchCase="'video'">
            <video class="video" src="{{ shout.shoutMedia }}" controls></video>
          </ng-container>
          <ng-container *ngSwitchCase="'image'">
            <img class="image" alt="" src="{{ shout.shoutMedia }}" />
          </ng-container>
        </ng-container>
      </span>
    </app-shout>
  </ng-container>
</div>

<ng-template #noShout>
  <div class="container" style="height: 100%">
    <h3 class="p-5 bg-light rounded">
      Make some new friends and then you will be able to see there shouts. Click
      on <mat-icon>more_vert</mat-icon> icon and then on Search Friend.
    </h3>
  </div>
</ng-template>
