<!-- <app-create-shout></app-create-shout> -->
<div class="feed">
  <ng-container *ngFor="let a of data | async">
    <app-shout>
      <span class="content">{{
        a.shoutText == "null" || a.shoutText == "undefined" ? " " : a.shoutText
      }}</span>
      <span class="media">
        <ng-container [ngSwitch]="a.shoutType">
          <ng-container *ngSwitchCase="'audio'">
            <audio
              src="{{ mediaPath }}{{ a.shoutMedia }}"
              type="audio/ogg"
              controls
            ></audio>
          </ng-container>
          <ng-container *ngSwitchCase="'video'">
            <video
              src="{{ mediaPath }}{{ a.shoutMedia }}"
              type="video/mp4"
              controls
            ></video>
          </ng-container>
          <ng-container *ngSwitchCase="'image'">
            <img class="image" src="{{ mediaPath }}{{ a.shoutMedia }}" />
          </ng-container>
        </ng-container>
      </span>
    </app-shout>
  </ng-container>
</div>
