<section class="glass">
  <form  #form="ngForm">
  <div>
    <textarea
      name="description"
      id=""
      cols="50"
      rows="3"
      #description="ngModel" [(ngModel)]='shout.shoutText'
      placeholder="Whats on your mind"
    ></textarea>
  </div>
  <div *ngIf='shout.shoutMedia?.name'>
    Selected File: {{shout.shoutMedia.name}}
  </div>
  <div>
    <button (click)="uploader1.click()">
      <fa-icon [icon]="faImages"></fa-icon> Images
    </button>
    <button (click)="uploader1.click()">
      <fa-icon [icon]="faVideo"></fa-icon> Videos
    </button>
    <button (click)="uploader1.click()">
      <fa-icon [icon]="faMusic"></fa-icon> Audio
    </button>
  </div>
  <input
    hidden
    type="file"
    name="shoutmedia"  #shoutmedia=ngModel [(ngModel)]="postedShout"
    accept="image/*"
    #uploader1
    (change)='uploadShout($event)'
  />
  <input
    hidden
    type="file"
    name="shoutmedia"  #shoutmedia=ngModel [(ngModel)]="postedShout"
    accept="video/*"
    #uploader2
    (change)='uploadShout($event)'
  />
  <input
    hidden
    type="file"
    name="shoutmedia" #shoutmedia=ngModel [(ngModel)]="postedShout"
    accept="audio/*"
    #uploader3
    (change)='uploadShout($event)'
  />
  <hr />
  <div>
    <button type="submit"  [disabled]='!flag' type="submit" value="Add Shout"  (click)="formSubmit(form)"class="shout btn1">Shout</button>
  </div>
</form>
</section>
