<h1 mat-dialog-title>Post Shout</h1>
<mat-card mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Whats on your mind..?</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <div>
    <button mat-fab color="primary" (click)="uploader1.click()">
      <mat-icon>image</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="uploader2.click()">
      <mat-icon>videocam</mat-icon>
    </button>
    <button mat-fab color="warn" (click)="uploader3.click()">
      <mat-icon>music_note</mat-icon>
    </button>
  </div>
  <input
    hidden
    type="file"
    accept="image/*"
    #uploader1
    (change)="uploadFile($event)"
  />
  <input
    hidden
    type="file"
    accept="video/*"
    #uploader2
    (change)="uploadFile($event)"
  />
  <input
    hidden
    type="file"
    accept="audio/*"
    #uploader3
    (change)="uploadFile($event)"
  />
  <hr />
  <div>
    <button mat-raised-button color="warn" type="submit" class="shout btn1">
      Shout
    </button>
  </div>
</mat-card>
