<mat-toolbar class="shadow">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/home">
    <img
      src="../../assets/ShoutBox_Logo-removebg-preview.png"
      class="mr-3"
      alt=""
    />
  </a>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-auto">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="edit">Update Profile</button>
    <button mat-menu-item routerLink="search">Search Friend</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container hasBackdrop>
  <mat-drawer #drawer mode="side"><app-navbar></app-navbar></mat-drawer>
  <mat-drawer-content class="d-flex pt-3">
    <div class="col-md-8 col-sm-12">
      <router-outlet></router-outlet>
    </div>
    <app-aside class="col-4 d-none d-md-block"></app-aside>
    <button (click)="openDialog()" class="create-shout" mat-fab>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
