mat-drawer-content {
  height: calc(100vh - 70px);
  width: 100vw;
  // padding: 15px;
  // overflow-x: auto;
  background-color: #daf6ff;
}

mat-toolbar {
  height: 70px;
  background-color: #4679b3;
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

app-aside {
  margin-left: auto;
  margin-top: 85px;
}
