<mat-card class="mb-3">
  <mat-card-content>
    <form class="row">
      <mat-form-field class="col">
        <mat-label>Search Friend...</mat-label>
        <input
          matInput
          placeholder="Enter friends name"
          type="search"
          [(ngModel)]="keyword"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="friendlist; else noFriends">
  <ng-container *ngFor="let f of friendlist | filter: keyword">
    <mat-card class="mb-3">
      <mat-card-header (click)="goToProfile(f.id)">
        <img mat-card-avatar src="../../assets/avatar.png" alt="" />
        <mat-card-title>
          {{ f.username }}
        </mat-card-title>
        <button class="ml-auto" (click)="removeFriend(f.id)" mat-flat-button>
          Remove
        </button>
      </mat-card-header>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #noFriends>
  <mat-card class="mb-3">
    <mat-card-content> Nothing To Show </mat-card-content>
  </mat-card>
</ng-template>
