<mat-card class="mb-3">
  <mat-card-content>
    <form class="row">
      <mat-form-field class="col-9">
        <mat-label>Search Friend...</mat-label>
        <input matInput placeholder="Enter friends name" type="search" />
      </mat-form-field>
      <div class="col-3">
        <button mat-fab type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="friendlist; else noFriends">
<ng-container *ngFor="let f of friendlist">
  <mat-card class="mb-3">
    <mat-card-header>
      <img mat-card-avatar src="../../assets/avatar.png" alt="" />
      <mat-card-title>
        {{ f.username }}
      </mat-card-title>
      <button class="ml-auto" (click)="removeFriend(f.id)" mat-flat-button>Remove</button>
    </mat-card-header>
  </mat-card>
</ng-container>
</ng-container>

<ng-template #noFriends>
  <mat-card class="mb-3">
    <mat-card-content> Nothing to Show </mat-card-content>
  </mat-card>
</ng-template>


