<section class="glass">
  <h3>Register</h3>
  <form [formGroup]="registerForm" (ngSubmit)= "userRegister($event)">


         <div class="text-danger mb-0" *ngIf="registerForm.controls.name?.invalid  && registerForm.controls.name?.touched">
           Name is required
        </div>
      <input type="text" placeholder="Name" name="name" [(ngModel)]="user.name" required  formControlName="name" />
        


    <div class="text-danger mb-0" *ngIf="registerForm.controls.username?.invalid  && registerForm.controls.username?.touched">
        UserName is required
      </div>
     <input type="text" placeholder="Username" name="username" [(ngModel)]="user.username" required formControlName="username" />
      

    <div class="text-danger mb-0" *ngIf="registerForm.controls.email?.invalid  && registerForm.controls.email?.touched">
      Please Enter a valid Email Address
    </div>
     <input type="email" placeholder="abc@eaxmple.com" name="email" [(ngModel)]="user.email" required formControlName="email"  />
         


    <div class="text-danger mb-0"
      *ngIf="registerForm.controls.password?.invalid  && registerForm.controls.password?.touched">
      PLease Enter Password With Min 7 Characters
    </div>
    <input type="password" placeholder="Password min 7 letters " name="password" [(ngModel)]="user.password" required formControlName="password"  />


    <!-- <input type="password" placeholder="Confirm Password" name="cpassword"  required formControlName="cpassword" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" /> -->
     <!-- <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback mb-0">
          <div *ngIf="f.cpassword.errors.required">Password is required</div>
    </div>
     <div class="text-danger mb-0"
      *ngIf="registerForm.controls.cpassword?.invalid  && registerForm.controls.cpassword?.touched">
     Please Confirm Password
    </div> -->
      <!-- <div *ngIf="f.cpassword.touched && f.cpassword.invalid">
                <div *ngIf="f.cpassword.errors.required">Password is required.</div>
                <div *ngIf="f.cpassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
            </div> -->

            <div class="text-danger mb-0"
              *ngIf="registerForm.controls.gender?.invalid  && registerForm.controls.gender?.touched">
              Please Select Gender
            </div>
      <div class="radio">
        <span>Gender: </span>
        <input type="radio" class="radio-btn m-0" name="gender" formControlName="gender" value="male" [(ngModel)]="user.gender" ><span>Male</span>
        <input type="radio"class="radio-btn m-0" name="gender" formControlName="gender" value="female" [(ngModel)]="user.gender"><span>Female</span>
      </div>


    <div class="text-danger mb-0"
      *ngIf="registerForm.controls.dob?.invalid  && registerForm.controls.dob?.touched">
      Please Select Date of Birth
    </div>
    <input type="date" placeholder="Date Of Birth" name="dob" [(ngModel)]="user.dob" required
      formControlName="dob" />


     <button class="btn1" type="submit" [disabled]="!registerForm.valid">Register</button>

  </form>
  <div>
    <p>Already have a account?</p>
    <p><a routerLink="/login">Click here</a> to Login</p>
  </div>
</section>
