mat-card {
  mat-card-header {
    height: 80px;
    min-height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding: 10px;
    // margin: 20px 0;
    border-radius: 15px;
    // img {
    //   margin-left: 5px;
    //   height: 60%;
    // }
    // div {
    //   margin-left: 5px;
    //   h2 {
    //     font-size: 20px;
    //   }
    // }
  }
  // button {
  //   font-size: 15px;
  //   padding: 0 10px;
  //   color: white;
  //   border: 1px solid transparent;
  //   border-radius: 10px;
  //   background: linear-gradient(-45deg, #c62dd4, #ba316a); //#ff005c
  //   &:hover {
  //     border: 1px solid wheat;
  //     background: rgb(51, 221, 164);
  //     color: black;
  //   }
  // }
}
