<mat-card class="mb-4">
  <mat-card-header (click)="goToProfile(shout.user_id)">
    <img mat-card-avatar class="ava" src="../../assets/avatar.png" alt="" />
    <mat-card-title>{{ shout.user.username }}</mat-card-title>
    <mat-card-subtitle>{{
      shout.created_at | date: "short"
    }}</mat-card-subtitle>
    <ng-content select=".ml-auto"></ng-content>
  </mat-card-header>
  <ng-content select=".media"></ng-content>
  <mat-card-content>
    <p class="content">
      <ng-content select=".content"></ng-content>
    </p>
  </mat-card-content>
  <mat-card-content>
    {{ shout.likes.length }} Likes |
    {{ comments ? comments : shout.comments.length }} Comments
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="likeDislike()">
      <mat-icon>{{ likeBtnIcon }}</mat-icon>
    </button>
    <button mat-button (click)="openCommentsDialog()">
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-button (click)="openReportDialog()" [disabled]="isReported">
      <mat-icon>{{ reportIcon }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
