<mat-card class="d-flex row m-1">
  <div class="col-md-4 col-sm-12 align-self-start text-center">
    <img class="img" src="../../assets/avatar.png" alt="" />
  </div>
  <div class="col-md-8 col-sm-12">
    <mat-card-content class="text-center">
      <h1>{{ user?.bio.name }}</h1>
      <h5>{{ user?.email }}</h5>
    </mat-card-content>
    <mat-card-content class="text-center">
      <p class="h5">{{ shouts }} Shouts | {{ friends }} Friends</p>
    </mat-card-content>
  </div>
</mat-card>

<mat-tab-group color="accent" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>info</mat-icon>
    </ng-template>
    <app-bio *ngIf="user" [user]="user"></app-bio>
  </mat-tab>
  <ng-container *ngIf="userShout?.length > 0">
    <mat-tab>
      <ng-template mat-tab-label><mat-icon>grid_on</mat-icon></ng-template>
      <div class="mt-4" *ngFor="let shout of userShout">
        <app-shout [shout]="shout">
          <span class="content" *ngIf="shout.shoutText">{{
            shout.shoutText
          }}</span>
          <span class="media">
            <ng-container [ngSwitch]="shout.shoutType">
              <ng-container *ngSwitchCase="'audio'">
                <audio
                  src="{{ mediaPath }}{{ shout.shoutMedia }}"
                  controls
                ></audio>
              </ng-container>
              <ng-container *ngSwitchCase="'video'">
                <video
                  class="video"
                  src="{{ mediaPath }}{{ shout.shoutMedia }}"
                  controls
                ></video>
              </ng-container>
              <ng-container *ngSwitchCase="'image'">
                <img
                  class="image"
                  alt=""
                  src="{{ mediaPath }}{{ shout.shoutMedia }}"
                />
              </ng-container>
            </ng-container>
          </span>
        </app-shout>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>message</mat-icon>
      </ng-template>
      <div class="mt-4" *ngFor="let a of userShout">
        <app-shout [shout]="a" *ngIf="a.shoutType === 'text'">
          <span class="content">{{ a.shoutText }} </span>
        </app-shout>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>image</mat-icon>
      </ng-template>
      <div class="mt-4" *ngFor="let a of userShout">
        <app-shout [shout]="a" *ngIf="a.shoutType == 'image'">
          <span class="content">{{ a.shoutText }}</span>
          <span class="media">
            <img class="image" alt="" src="{{ mediaPath }}{{ a.shoutMedia }}" />
          </span>
        </app-shout>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>music_note</mat-icon>
      </ng-template>
      <div class="mt-4" *ngFor="let a of userShout">
        <app-shout [shout]="a" *ngIf="a.shoutType == 'audio'" controls>
          <span class="content">{{
            a.shoutText == "null" || a.shoutText == "undefined"
              ? " "
              : a.shoutText
          }}</span>
          <span class="media">
            <audio
              class="audio"
              src="{{ mediaPath }}{{ a.shoutMedia }}"
              controls
            ></audio>
          </span>
        </app-shout>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>videocam</mat-icon>
      </ng-template>
      <div class="mt-4" *ngFor="let a of userShout">
        <app-shout [shout]="a" *ngIf="a.shoutType == 'video'">
          <span class="content">{{
            a.shoutText == "null" || a.shoutText == "undefined"
              ? " "
              : a.shoutText
          }}</span>
          <span class="media">
            <video
              class="video"
              src="{{ mediaPath }}{{ a.shoutMedia }}"
              controls
            ></video>
          </span>
        </app-shout>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>
