<h2 mat-dialog-title>Comments</h2>
<mat-dialog-content class="mat-typography">
  <ng-container *ngFor=>

    <mat-card>
      <mat-card-content>
        <div>
          <img src="../../assets/avatar.png" alt="" />
          <div>
            <mat-card-title>Amey Khaire</mat-card-title>
            <mat-card-subtitle>10/20/2020</mat-card-subtitle>
          </div>
        </div>
        <span>This is comment 1.</span>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <mat-card>
    <mat-card-content>
      <div>
        <img src="../../assets/avatar.png" alt="" />
        <div>
          <mat-card-title>Amey Khaire</mat-card-title>
          <mat-card-subtitle>10/20/2020</mat-card-subtitle>
        </div>
      </div>
      <span>This is comment 1.</span>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div>
        <img src="../../assets/avatar.png" alt="" />
        <div>
          <mat-card-title>Amey Khaire</mat-card-title>
          <mat-card-subtitle>10/20/2020</mat-card-subtitle>
        </div>
      </div>
      <span>This is comment 1.</span>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div>
        <img src="../../assets/avatar.png" alt="" />
        <div>
          <mat-card-title>Amey Khaire</mat-card-title>
          <mat-card-subtitle>10/20/2020</mat-card-subtitle>
        </div>
      </div>
      <span>This is comment 1.</span>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions class="row">
  <mat-form-field class="col-9">
    <mat-label>Comment</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button mat-raised-button class="col-3">Post</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
